.login {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background: url('~@assets/img/theatre.jpg') no-repeat center center;

  .loginPanel {
    width: 500px;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
    position: relative;
    background-color: #ffffff;
    .loginPanelContent{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 70px 50px 30px 50px;
      position: relative;

      .loginForm{
        width:100%;

        .login-form-forgot {
          float: right;
        }
        .login-form-button {
          width: 100%;
        }
        .logo{
          width:100%;
        }
      }
    }
    .features{
      border-top:1px dashed #bbb;
      padding: 30px 50px;
    }
  }
}
.flexWrapper{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
